body {
    background-color: black;
    font-family: arial;
    color: white;
}

h1{
    color: grey;
    font-family: verdana;
}

table {
    margin: 0 auto;
}

td {
    padding: 5px; 
}

.main {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    align-content: center;
    margin: 0 auto;
}

.compute {
    width: 350px;
}